**/__pycache__/
**/.pytest_cache
**/htmlcov/
*.pyc
.coverage
.venv
.viztools
venv
.idea
.runtests
.mypy_cache
cobertura.xml
/.idea
merge_master.sh
./.pyconf
/.isort.cfg
app/.env.dev
/.isort.cfg
/.pyconf
